* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
.nav {
  flex: 1;
  text-align: right;
}
.nav ul {
  display: inline-block;
  list-style-type: none;
}

.nav ul li {
  display: inline-block;
  margin-right: 20px;
}
.a {
  text-decoration: none;
  color: #555;
}

.p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-right: 25px;
  padding-left: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 35px 40px;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 50px 50px;
  border-radius: 30px;
  transition: ground 1s linear;
}

.btn:hover {
  ground: #ff0000;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
  margin-top: 70px;
}

.categories {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: tranaform 0.5s;
}

.col-4 img {
  width: 100%;
}

.col-4 input {
  width: 100%;
}

.titel {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.titel::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.rating {
  color: #ff523b;
}

.col-4 :hover {
  transform: translateY(-5px);
}

.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img {
  padding: 50px;
}

.small {
  color: #555;
}

.testimonial {
  padding: 100px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5;
}

.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3:hover {
  transform: translateY(-10px);
}

.fa.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}

.col-3 p {
  font-size: 12px;
  margin: 12px;
  color: #777;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

.brands {
  margin: 100px auto;
}

.col-5 {
  width: 160px;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover {
  filter: grayscale(0);
}
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
}
.footer .hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright {
  text-align: center;
  color: #fff;
}
.fa.fa-heart {
  color: #ff523b;
}

/* --------------------------All Products-------------------- */

.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}

.select {
  border: 1px solid #ff523b;
  padding: 5px;
}

.select :focus {
  outline: none;
}

.page-btn {
  margin: 0 auto 80px;
}
.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span {
  background: #ff523b;
  color: #fff;
}

/* -----------sigal product detail -------------------- */

.single-product {
  margin-top: 80px;
}

.single-product .col-2 img {
  padding: 0;
}

.single-product .col-2 {
  padding: 20px;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product #quantity {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}

.input :focus {
  outline: none;
}

.single-product .fa.fa-indent {
  color: #ff523b;
  margin-left: 10px;
}

.small-image-row {
  display: flex;
  justify-content: space-between;
}

.small-image-col {
  flex-basis: 24%;
  cursor: pointer;
}

body {
  color: #353535;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: #f3f6ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-right: 25px;
  padding-left: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 35px 40px;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 50px 50px;
  border-radius: 30px;
  transition: ground 1s linear;
}

.btn:hover {
  ground: #ff0000;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
  margin-top: 70px;
}

/* ---------------------------------------------------------------------gandhi---------------------------------------------------- */

.categories {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: tranaform 0.5s;
}

.col-4 img {
  width: 100%;
}

.titel {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.titel::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.rating {
  color: #ff523b;
}

.col-4 :hover {
  transform: translateY(-5px);
}

.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img {
  padding: 50px;
}

.small {
  color: #555;
}

.testimonial {
  padding: 100px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5;
}

.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3:hover {
  transform: translateY(-10px);
}

.fa.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}

.col-3 p {
  font-size: 12px;
  margin: 12px;
  color: #777;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

.brands {
  margin: 100px auto;
}

.col-5 {
  width: 160px;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover {
  filter: grayscale(0);
}
.login {
  position: relative;
  padding-top: 100px;
}
.login .login-form,
.login .register-form {
  padding: 10px;
  background: #ffffff;
  margin-bottom: 30px;
}
.my-account {
  position: relative;
  padding: 30px 0;
}

.my-account .nav.nav-pills .nav-link {
  padding: 10px 15px;
  color: #353535;
  background: #ffffff;
  border-radius: 0;
  border-bottom: 1px solid #dddddd;
  transition: all 0.3s;
}

.my-account .nav.nav-pills .nav-link:last-child {
  border-bottom: none;
}

.my-account .nav.nav-pills .nav-link:hover,
.my-account .nav.nav-pills .nav-link.active {
  color: #ffffff;
  background: radial-gradient(#fff, #ffd6d6);
}

.my-account .nav.nav-pills .nav-link i {
  margin-right: 5px;
}

.my-account .tab-content {
  padding: 30px;
  background: #ffffff;
}

.my-account .tab-content .table {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

.my-account .tab-content .table .thead-dark th {
  text-align: center;
  color: #353535;
  background: #ffffff;
  border-color: #dddddd;
  border-bottom: none;
  vertical-align: middle;
}

.my-account .tab-content .table td {
  vertical-align: middle;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* ----------------------to verify you are a human ---------------------------------- */

.human-verify .form {
  width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  
}
.human-verify .form input{
  width: 30px;
  height: 30px;
  margin: 50px 0;
  padding: 0 10px;
  font-size: 20px;
  border: 1px solid #ff523b;

}
.form .btn{
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;